.product{
    display: flex;
    margin: 20px 5px;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.product-description{
    margin-left: 30px;
}
.product-description h5{
    font-size: 18px;
    color: blue;
    font-weight: normal;
}
.main-btn{
    display: block;
    padding: 0px 30px;
    background-color: #F0C14B;
    border: 1px solid gray;
    border-radius: 3px;
}